body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: #2C2B3D;
  color: #FFFFFF;
}

.page {
  width: 1092px;
  margin: 0 auto;
  padding-top: 71px;
 
}

main {
 display: flex;
 justify-content: space-between;
 text-align: center;
 margin-bottom: 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}


ul, li {
  list-style: none;
  display: flex;
  gap: 64px;
  font-size: 14px;
}


ul li a:hover {
  font-weight: bold;
  color: black;
}

a {
  text-decoration: none;
  color:#FFFFFF;
  font-family:  'JetBrains Mono', monoespaçado;
}


h1 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'JetBrains Mono', monoespaçado;
  font-weight: normal;
  margin: 0px;
}

p {
  line-height: 28px;
  color: #C2C2C2;
  margin-top: 60px;
  font-size: 16px;
}


span {
  color: #00BFA6;
  font-weight: bold;
}

.line {
  width: 568px;
  height: 0px;
  border: 1px solid;
  color: #00BFA6;
  margin: 0px auto 27px ;
}


footer {
  font-family: 'JetBrains Mono', monoespaçado;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}


.padlock {
position: fixed;
bottom: 20px;
left: 20px;

}
